// $LAYOUT ------------------------------------------------------------------ //

// Margin and Padding Classes ----------------------------------------------- //

@each $orientation in $orientations {
  @each $size, $value in $sizes {
    .u-m-#{$orientation}-#{$size} {
      margin-#{$orientation}: $value;
    }
  }

  @each $size, $value in $sizes {
    .u-p-#{$orientation}-#{$size} {
      padding-#{$orientation}: $value;
    }
  }
}

// Text align Classes ------------------------------------------------------- //
//
.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

// Font style Classes ------------------------------------------------------- //
//
.u-italic {
  font-style: italic;
}

.u-bold {
  font-weight: bold;
}

// Float Classes ------------------------------------------------------------ //
//
.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

// Border width and style Classes ------------------------------------------- //
//
.u-border {
  border: 1px solid;
}

@each $orientation in $orientations {
  .u-border-#{$orientation} {
    border-#{$orientation}: 1px solid;
  }
}

.u-border-none {
  border: 0 none;
}

.u-pointer {
  cursor: pointer;
}

.u-shadow {
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}

// Flexbox
//

.u-flexbox {
  display: flex;

  // directions
  &-row {
    flex-direction: row;
  }

  &-row-reverse {
    flex-direction: row-reverse;
  }

  &-column {
    flex-direction: column;
  }

  &-columm-reverse {
    flex-direction: column-reverse;
  }

  // justify
  &-justify-center {
    justify-content: center;
  }

  &-justify-start {
    justify-content: flex-start;
  }

  &-justify-end {
    justify-content: flex-end;
  }

  &-justify-between {
    justify-content: space-between;
  }

  &-justify-around {
    justify-content: space-around;
  }

  // align contemt
  &-content-center {
    align-content: center;
  }

  &-content-start {
    align-content: flex-start;
  }

  &-content-end {
    align-content: flex-end;
  }

  &-content-between {
    align-content: flex-between;
  }

  &-content-around {
    align-content: flex-around;
  }

  // wrap
  &-wrap {
    flex-wrap: wrap;
  }

  &-nowrap {
    flex-wrap: nowrap;
  }

  // align items
  &-items-center {
    align-items: center;
  }

  &-items-start {
    align-items: flex-start;
  }

  &-items-end {
    align-items: flex-end;
  }

  &-items-stretch {
    align-items: flex-stretch;
  }

  &-items-baseline {
    align-items: flex-baseline;
  }
}

// Lists ---------------------------------------------------------------------//

.u-nobullet {
  list-style: none;
}

// Margins -------------------------------------------------------------------//

.u-reset {
  margin: 0;
  padding: 0;
}

.u-expand {
  margin-right: -$gutter;
  margin-left: -$gutter;
}

// Image ---------------------------------------------------------------------//

.u-img-responsive {
  width: 100%;
  height: auto;
}

.u-display-none {
  display: none;
}

.u-overflow {
  &-hidden {
    overflow: hidden;
  }

  &-auto {
    overflow: auto;
  }

  &-scroll {
    overflow: scroll;
  }
}

// General colors ---------------------------------------------------------- //

@each $color, $hex in $colors {
  .u-bg-#{$color} {
    background-color: $hex;
  }

  .u-color-#{$color} {
    color: $hex;
  }
}
