// scss-lint:disable propertysortorder vendorprefix
// $maps -------------------------------------------------------------------- //

// breakpoints
//
$breakpoints: (
  'xs': 375px,
  'sm': 600px,
  'md': 740px,
  'lg': 1024px,
  'xl': 1200px,
  'xxl': 1440px
);

// Colors
//
$colors : (
  'white':	#ffffff,
  'black':	#000000,
  'red':	#ff0000,
  'brown':	#a52a2a,
  'orange':	#ffa500,
  'yellow':	#ffff00,
  'olive':	#808000,
  'lime':	#00ff00,
  'green':	#008000,
  'aqua':	#00ffff,
  'teal':	#008080,
  'blue':	#0000ff,
  'navy':	#000080,
  'fuchsia':	#ff00ff,
  'purple':	#800080,
  
  //grey-scale
  "grey10":	#1c1c1c,
  "grey20":	#303030,
  "grey30":	#4e4e4e,
  "grey40":	#626262,
  "grey50":	#808080,
  "grey60":	#9e9e9e,
  "grey70":	#b2b2b2,
  "grey80":	#d0d0d0,
  "grey90":	#eeeeee,
  
  // social colors
  'facebook': #3b5998,
  'twitter': #1da1f2,
  'youtube': #ef450f,
  'telegram': #2ca5e0,
  'whatsapp': #25d366,
  
  // alert colrs
  'danger': #cc3300,
  'warning': #ffcc00,
  'succes': #339900,
  'info' : #0000ff
);

// Orientations
//
$orientations:(
  't',
  'l',
  'b',
  'r'
);

// Sizes
//
$sizes:(
  "0"  : 0,
  "4"  : .25rem,
  "8"  : .5rem,
  "12" : .75rem,
  "16" : 1rem,
  "20" : 1.25rem,
  "24" : 1.5rem,
  "28" : 1.75rem,
  "32" : 2rem
);

// z-layers
// toggle and menu are directly influenced by adv skin z-index
$z-index: (
  default: 1,
  overlay: 10,
  toggle-1: 99998,
  menu: 100000,
  toggle-2: 100001,
  modal: 100010
);